@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Wix+Madefor+Text:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Wix+Madefor+Text:wght@500&display=swap");

:root {
  --primary-background-color: #7fa99b;
  --primary-text-color: #384a51;
  --font-family: "Libre Baskerville", Georgia;
}

h1,
h2 {
  color: var(--primary-text-color);
  font-size: 50px;
}

h1 {
  padding-top: 200px;
  font-size: 50px;
  font-family: var(--font-family);
}

h2 {
  font-size: 50px;
  font-family: var(--font-family);
}

h3 {
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--primary-text-color);
  font-family: var(--font-family);
}

h4 {
  font-family: var(--font-family);
  color: var(--primary-text-color);
  font-size: 35px;
}

.header {
  background-color: var(--primary-background-color);
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.section img {
  position: relative;
  bottom: 62px;
  left: 20px;
  width: 325px;
  height: 450px;
  border: 8px solid #7fa99b;
}

.my-name {
  color: #fff;
  font-size: px;
}

.work-link {
  padding-top: 50px;
  color: var(--primary-text-color);
}

.section p {
  color: var(--primary-text-color);
}

.arrow {
  position: relative;
  bottom: 3px;
}

.projects {
  background-color: var(--primary-background-color);
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav-gradient {
  font-size: 20px;
  font-family: sans-serif;
  color: #fff;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  opacity: 0.7;
}

.skills {
  font-size: 50px;
  color: var(--primary-background-color);
}

.button-colour {
  background-color: var(--primary-background-color) !important;
  border: none;
}

.footer {
  background-color: #fff;
  height: 25px;
}

.font-links {
  font-size: 20px;
  color: var(--primary-background-color);
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2,
  h3 {
    margin: 0;
    font-size: 50px;
  }
  h3 {
    padding-top: 0;
    font-size: 25px;
  }

  .section p {
    margin-bottom: 20px;
  }
  .skills {
    margin-top: 20px;
  }
  .font-links {
    position: relative;
    bottom: 45px;
  }
}
