:root {
  --primary-background-color: #7fa99b;
  --primary-text-color: #384a51;
  --font-family: sans-serif;
}

.container-fluid {
  padding: 0;
}

.header {
  background-color: var(--primary-background-color);
  height: 500px;
}

.section {
  padding: 65px;
}

.section img {
  float: right;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
}

h1,
h2 {
  color: var(--primary-text-color);
}

h1 {
  padding-top: 60px;
  padding-left: 65px;
  font-size: 50px;
}

h2 {
  font-size: 50px;
  padding-left: 65px;
  font-size: 50px;
}

h3 {
  font-size: 50px;
  padding-bottom: 30px;
  color: var(--primary-text-color);
}

.section p {
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: var(--primary-text-color);
}

a:hover {
  color: #fff;
}

.taskbar {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.taskbar-link {
  padding: 0px 15px 50px;
  color: #fff;
}

.work-link {
  padding-top: 70px;
  padding-left: 68px;
  color: var(--primary-text-color);
}

.arrow {
  position: relative;
  bottom: 3px;
}
