:root {
  --primary-background-color: #7fa99b;
  --primary-text-color: #384a51;
  --font-family: sans-serif;
}

h1,
h2,
h4 {
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 50px;
}

h1 {
  padding-top: 200px;
  font-size: 50px;
}

h3 {
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--primary-text-color);
}

h2 {
  font-size: 50px;
}

h4 {
  font-size: 30px;
}

.header {
  background-color: var(--primary-background-color);
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.section img {
  position: relative;
  bottom: 62px;
  left: 20px;
  width: 325px;
  height: 450px;
}

.my-name {
  color: #fff;
}

.work-link {
  padding-top: 50px;
  color: var(--primary-text-color);
}

.section p {
  color: var(--primary-text-color);
}

.arrow {
  position: relative;
  bottom: 3px;
}

.projects {
  background-color: var(--primary-background-color);
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav-gradient {
  background: transparent;
  font-size: 20px;
  font-family: sans-serif;
  color: #fff;
  backdrop-filter: blur(5px);
}

.skills {
  font-size: 50px;
  color: var(--primary-background-color);
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2,
  h3 {
    margin: 0;
  }
  .section p {
    margin-bottom: 20px;
  }
}
